@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
body
{
    min-height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(#2b1055, #7597de);
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}
header .logo
{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li
{
    list-style: none;
    margin-left: 20px;
}
header ul li a
{
    text-decoration: none;
    padding:  6px 15px;
    color: #fff;
    border-radius: 20px;
}
header ul li a:hover,
header ul li a.active
{
    background: #fff;
    color: #2b1055;
}
section
{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
section::before
{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top,#1c0522,transparent);
    z-index: 1000;

}
section img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
section img#moon
{
    mix-blend-mode: screen;
}
section img#mountains_front
{
    z-index: 10;
}
#text
{
    position: absolute;
    right: -350px;
    color: #fff;
    white-space: nowrap;
    font-size:  7.5vw;
    z-index: 9;
}
#btn
{
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: #fff;
    color: #2b1055;
    font-size: 1.5em;
    z-index: 9;
    transform: translateY(100px);
}
.sec 
{
    position: relative;
    padding: 100px;
    background: #2b1055; 
    
}
.sec h2
{
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #fff;
}
.sec p
{
    font-size: 1.2em;
    color: #fff;   
}

.sec button
{
    text-decoration: none;
    display: inline-block;
    font-size: 1.5em;
    padding: 8px 30px;
    color: #fff;
    color: #2b1055;
    border-radius: 50px;
    transform: translateY(50px);
    z-index: 9;
}

/* PARTE II */
.scene i 
{
    position: absolute;
    background: #fff;
    border-radius: 50%;
    animation: animate linear infinite;
}
@keyframes animate
{
    0%
    {
        opacity:  0;
        transform: translateY(0)
    }
    10%, 90
    {
        opacity: 1;
    }
    100%
    {
        opacity: 0;
        transform:  translateY(-100px);
    }
}
.cloud1
{
    position: absolute;
    top: 0;
    left: 0;
    max-width: 600px;
    /* z-index: 10000; */
    animation: animateCloud 50s linear infinite;
    
}
.cloud2
{
    position: absolute;
    top: 0;
    left: 0;
    max-width: 500px;
    z-index: 10000; 
    animation: animateCloud 35s linear infinite;
    
}
.cloud3
{
    position: absolute;
    top: 0;
    left: 0;
    max-width: 600px;
    /* z-index: 10000; */
    animation: animateCloud 80s linear infinite;
    
}
.cloud4
{
    position: absolute;
    top: 200px;
    left: 0;
    max-width: 600px;
    /* z-index: 10000; */
    animation: animateCloud 70s linear infinite;
    animation-delay: -20s;
    
}
.cloud5
{
    position: absolute;
    top: 150px;
    left: 0;
    max-width: 500px;
    /* z-index: 10000; */
    animation: animateCloud 40s linear infinite;
    animation-delay: -20s;
    
}
@keyframes animateCloud
{
    0%
    {
        transform: translateX(-100%) scale(1);
    }
    100%
    {
        transform: translateX(400%) scale(1.5);
    }
}


/* PARTE III */

span
{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4px;
    height: 4px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(255,255,255,0.1),
    0 0 0 8px rgba(255,255,255,0.1),
    0 0 20px rgba(255, 255, 255,1);
    animation: animate 3s linear infinite;
}
span::before
{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
    height: 1px;
    background: linear-gradient(90deg, #fff, transparent)
}
@keyframes animate
{
    0% 
    {
        transform: rotate(315deg) translateX(0);
        opacity: 1;
    }
    70%
    {
        opacity: 1;
    }
    100%
    {
        transform: rotate(315deg) translateX(-1000px);
        opacity: 0;
    }
}
span:nth-child(1)
{
    top: 0;
    right: 0;
    left: initial;
    animation-delay: 0;
    animation-duration: 1s;
}
span:nth-child(2)
{
    top: 0;
    right: 80px;
    left: initial;
    animation-delay: 0.2s;
    animation-duration: 3s;
}
span:nth-child(3)
{
    top: 80px;
    right: 0px;
    left: initial;
    animation-delay: 0.4s;
    animation-duration: 2s;
}
span:nth-child(4)
{
    top: 0px;
    right: 180px;
    left: initial;
    animation-delay: 0.6s;
    animation-duration: 1.5s;
}
span:nth-child(5)
{
    top: 0px;
    right: 400px;
    left: initial;
    animation-delay: 0.8s;
    animation-duration: 2.5s;
}
span:nth-child(6)
{
    top: 0px;
    right: 600px;
    left: initial;
    animation-delay: 1s;
    animation-duration: 3s;
}
